@import './bootstrap.min.css';
@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-white);
  margin: 0;
}

a {
  color: var(--color-white);
}

a:hover {
  color: var(--color-white) !important;
  text-decoration: none !important;
}

.card {
  border:none;
}
html,
body,
body > div,
body > div > div {
  height: 100%;
}
