@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  margin: 2em 0 4em;
  max-width: 400px;
  background: var(--color-black);
}

.box {
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.box:last-child {
  border-bottom: none;
}

.headline {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}

.description {
  text-align: center;
}

.jumbo {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

/*display: grid;*/
/*grid-template-columns: 1fr;*/
/*grid-gap: 2em;*/

/*@media (--media-min-small) {*/
/*  grid-template-columns: 1fr 1fr;*/
/*}*/
/**/
/*@media (--media-min-medium) {*/
/*  grid-template-columns: 1fr 1fr 1fr;*/
/*}*/

.quoteCard {
  /*background: #fff;*/
  /*color: #222222;*/
  padding: 20px 20px 50px 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.quoteCard p {
  /*font-size: 22px;*/
  line-height: 1.5;
  margin: 0;
  /*max-width: 80%;*/
}

.quoteCard-cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}

.quoteCard:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}

.quoteCard:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  /*bottom: px;*/
  line-height: 100px;
  right: 0px;
  font-size: 10em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}

@media (max-width: 640px) {
  .quoteCard:after {
    font-size: 10em;
    right: 0px;
  }
}

.logo {
  width: 140px;
}

.logo img{
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity:1;
}

.logo img:hover{
  opacity:0.6;
}

.logo:hover .middle {
  opacity: 1;
}

.middle {
  color: white;
  z-index: 5;
  position: absolute;
  overflow: hidden;
  left: 50px;
  top: 30px;
  padding: 9px;
  transition: .5s ease;
  opacity: 0;
  position: relative;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.imageContainer {
  position: relative;
}
